@model Dictionary<string, string>
<footer>
    <section id="footer-blue">
        <div class="subscribe">
            <div class="container">
                <div class="row mt-5 subscribe-content">
                    <div class="col-6">
                        <p class="subscribe-info">$20 discount for your first order</p>
                        <h5 class="subscribe-advert">Join our newsletter and get...</h5>
                        <p class="subscribe-text">
                            Join our email subscription now to get updates on promotions and
                            coupons.
                        </p>
                        <div class="row">
                            <div class="input-group mt-4">
                                <i class="fas fa-envelope mail-icon"></i>
                                <input type="text" class="form-control" placeholder="Your email address"
                                       aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary subscribe-btn" type="button"
                                        id="button-addon2">
                                    Subscribe
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <img src="~/assets/img/footer-img-blue.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="text-info">
        <div class="icon-info">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-3 goods-info">
                        <i class="fas fa-cookie-bite"></i>
                        <span>Everyday fresh products</span>
                    </div>
                    <div class="col-3 delivery-info">
                        <i class="fas fa-truck"></i>
                        <span>
                            Free delivery for order over $70
                        </span>
                    </div>
                    <div class="col-3 discount-info">
                        <i class="fas fa-percent"></i>
                        <span>Daily Mega Discounts</span>
                    </div>
                    <div class="col-3 price-info">
                        <i class="fas fa-dollar-sign"></i>
                        <span>Best price on the market</span>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <section id="footer-navbar">
        <div class="navigation">
            <div class="container">
                <div class="row mt-5">
                    <div class="custom-col">
                        <ul>
                            <h6>FRUIT & VEGETABLES</h6>
                            <li><a href="">Fresh Vegetables</a></li>
                            <li><a href="">Herbs & Seasonings</a></li>
                            <li><a href="">Fresh Fruits</a></li>
                            <li><a href="">Cuts & Sprouts</a></li>
                            <li><a href="">Exotic Fruits & Veggies</a></li>
                            <li><a href="">Packaged Produce</a></li>
                            <li><a href="">Party Trays</a></li>
                        </ul>
                    </div>
                    <div class="custom-col">
                        <ul>
                            <h6>BREAKFAST & DAIRY</h6>
                            <li><a href="">Milk & Flavoured Milk</a></li>
                            <li><a href="">Butter and Margarine</a></li>
                            <li><a href="">Cheese</a></li>
                            <li><a href="">Eggs Substitutes</a></li>
                            <li><a href="">Honey</a></li>
                            <li><a href="">Marmalades</a></li>
                            <li><a href="">Sour Cream and Dips</a></li>
                            <li><a href="">Yogurt</a></li>
                        </ul>
                    </div>
                    <div class="custom-col">
                        <ul>
                            <p>MEAT & SEAFOOD</p>
                            <li><a href="">Breakfast Sausage</a></li>
                            <li><a href="">Dinner Sausage</a></li>
                            <li><a href="">Beef</a></li>
                            <li><a href="">Chicken</a></li>
                            <li><a href="">Sliced Deli Meat</a></li>
                            <li><a href="">Shrimp</a></li>
                            <li><a href="">Wild Caught Fillets</a></li>
                            <li><a href="">Crab and Shellfish</a></li>
                            <li><a href="">Farm Raised Fillets</a></li>
                        </ul>
                    </div>
                    <div class="custom-col">
                        <ul>
                            <h6>BEVERAGES</h6>
                            <li><a href="">Water</a></li>
                            <li><a href="">Sparkling Water</a></li>
                            <li><a href="">Soda & Pop</a></li>
                            <li><a href="">Coffee</a></li>
                            <li><a href="">Milk & Plant-Based Milk</a></li>
                            <li><a href="">Tea & Kombucha</a></li>
                            <li><a href="">Drink Boxes & Pouches</a></li>
                            <li><a href="">Craft Beer</a></li>
                            <li><a href="">Wine</a></li>
                        </ul>
                    </div>
                    <div class="custom-col">
                        <ul>
                            <h6>BREAKFAST & DAIRY</h6>
                            <li><a href="">Milk & Flavoured Milk</a></li>
                            <li><a href="">Butter and Margarine</a></li>
                            <li><a href="">Cheese</a></li>
                            <li><a href="">Eggs Substitutes</a></li>
                            <li><a href="">Honey</a></li>
                            <li><a href="">Marmalades</a></li>
                            <li><a href="">Sour Cream and Dips</a></li>
                            <li><a href="">Yogurt</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer-contact-details">
        <div class="contact-details">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-5 left">
                        <div class="row">
                            <div class="col-3">
                                <i class="fas fa-phone-alt icon"></i>
                            </div>
                            <div class="col-9 text">
                                <div class="up">
                                    <h4>@Model["Phone"]</h4>
                                </div>
                                <div class="down">
                                    <p>Working 8:00 - 22:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 right">
                        <div class="row">
                            <div class="col-4 left-detail">
                                <div>
                                    <p class="p-up">Download App on Mobile :</p>
                                </div>
                                <div>
                                    <p class="p-down">15% discount on your first purchase</p>
                                </div>
                            </div>
                            <div class="col-4 center-detail">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="~/assets/img/google-play.png" alt="">
                                    </div>
                                    <div class="col-6">
                                        <img src="~/assets/img/app-store.png" alt="" style="padding-left: 8px;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 right-detail">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="end">
        <div class="end">
            <div class="container">
                <div class="row mt-4">
                    <div class="col-5 copyright">
                        <p>
                            Copyright 2022 © Bacola WordPress Theme. All rights reserved. Powered by KlbTheme.

                        </p>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <div class="privacy col-6">
                                <a href="">Privacy Policy</a>
                                <a href="">Terms and Conditions</a>
                                <a href="">Cookie</a>
                            </div>
                            <div class="payments col-6">
                                <img src="~/assets/img/payments.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</footer>