
@{
    ViewData["Title"] = "Cart";
}

<main>
    <section id="root">
        <div class="root">
            <div class="container">
                <a href="index.html">HOME</a>
                <i class="fas fa-angle-right"></i>
                <span>MY ACCOUNT</span>
            </div>
        </div>
    </section>
    <section id="cart-updated-message">
        <div class="cart-updated-message mt-3">
            <div class="container">
                <p>Cart updated.</p>
            </div>

        </div>
    </section>
    <section id="cart-page-content">
        <div class="cart-page-content">
            <div class="container">
                <div class="row mt-4">
                    <div class="col-8">
                        <div class="cart-page-table">
                            <table>
                                <tr>
                                    <th></th>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Subtotal</th>
                                </tr>
                                <tr>
                                    <td><img src="./assets/img/italian-meatballs.jpg" alt=""></td>
                                    <td>All Natural Italian-Style Chicken Meatballs</td>
                                    <td>$7.25</td>
                                    <td>
                                        <button>
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <span>1</span>
                                        <button>
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                    <td>$7.25</td>
                                    <td><i style="cursor: pointer;" class="fas fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td><img src="./assets/img/boom-chicka.jpg" alt=""></td>
                                    <td>Angie's Boomchickapop Sweet & Salty Kettle Corn</td>
                                    <td>$3.29</td>
                                    <td>
                                        <button class="cart-page-minus-button">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <span>1</span>
                                        <button class="cart-page-minus-plus">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                    <td>$3.29</td>
                                    <td><i style="cursor: pointer;" class="fas fa-times"></i></td>
                                </tr>
                            </table>
                        </div>
                        <div class="coupon mt-4">
                            <div class="row">
                                <div class="col-8">
                                    <div class="apply">
                                        <input type="text" class="form-control" placeholder="Coupon code"
                                               aria-label="Username" aria-describedby="basic-addon1">
                                        <button type="button" class="btn btn-primary apply-btn">
                                            Apply
                                            coupon
                                        </button>
                                    </div>

                                </div>
                                <div class="col-4">
                                    <div class="update">
                                        <button type="button" class="btn btn-primary update-btn disabled">
                                            Update
                                            cart
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="cart-totals">
                            <h5>CART TOTALS</h5>
                            <hr>
                            <div class="subtotal">
                                <strong>Subtotal</strong>
                                <span>$21.08</span>
                            </div>
                            <div class="shipping mt-4">
                                <div class="row ">
                                    <div class="col-4">
                                        <div class="shipping-title">
                                            <strong>Shipping</strong>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="shipping-content">
                                            <ul>
                                                <li>

                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        <span>Flat rate:</span>
                                                        <span style="color: rgb(248, 62, 62);">$5.00</span>
                                                    </label>
                                                    <input class="form-check-input" type="radio"
                                                           name="flexRadioDefault" id="flexRadioDefault1">



                                                </li>
                                                <li>
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        <span>Free shipping</span>
                                                    </label>
                                                    <input class="form-check-input" type="radio"
                                                           name="flexRadioDefault" id="flexRadioDefault1">

                                                </li>
                                                <li>
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        <span>Local pickup</span>
                                                    </label>
                                                    <input class="form-check-input" type="radio"
                                                           name="flexRadioDefault" id="flexRadioDefault1">

                                                </li>
                                                <li>
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        <span>Shipping to</span>
                                                        <strong>AL.</strong>
                                                    </label>

                                                </li>
                                                <li class="mt-4">
                                                    <a href="">Change address</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="car-page-total-price mt-3">
                                <span>Total</span>
                                <strong>$26.08</strong>
                            </div>
                            <div class="proceed">
                                <div class="row">
                                    <button type="button" class="btn btn-danger">Proceed to checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

